.NavbarItems {
	background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.navbar-logo {
	margin-left: 20px;
	margin-top: 5px;
}

.fa-react {
	height: 60px;
	width: 60px;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 2rem;
}

.nav-links {
	color: white;
	color-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	background-color: #6d76f7;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.title {
	align: center;
	font-size: 21px;
	margin-bottom: 20px;
}
